.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-size:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    bottom: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    padding: 30px;
   
    
}
.radio{
    display: flex;
    justify-content: space-between;
    
}
.radio div{
    width: 45%; 
    border: 2px solid gainsboro ;  
    margin-bottom: 10px;
    padding: 6px;
}
.nom{
    display: flex;
    justify-content: space-between;
}
.nom div{
    display: flex;
    flex-direction: column;
    width: 45%;   
}
label{
    margin-bottom: 12px;
}
input{
    margin-bottom: 7px;
    padding: 10px;

}
.check{
   margin-bottom: 10px;
   margin-top: 10px;

}
input[type="submit"]{
    background-color: hsl(169, 82%, 27%);
    
    color: white;
}